* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #757474;
}

.login-container {
    margin: 50px auto;
    padding: 20px;
    height: 400px;
    width: 500px;
    background-color: #fff;
    text-align: center;
}
form h1 {
    margin: 20px 0;
}

.input-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.input-group label{
    font-size: 20px;
    color: #333;
    margin: 10px;
}
input {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 20px;
}

form button {
    margin-top: 10px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 20px;
    background-color: #0000FF;
    color: #fff;
}

form p {
    margin: 20px 0;
    font-size: 15px;
    color: #333;
}
form p a {
    text-decoration: none;
    color: #0000FF;
    font-weight: bold;
}